torch~=2.7.0
timm~=1.0.15
typing~=3.7.4.3
transformers~=4.56.1
jsonargparse~=4.38.0
gitignore_parser~=0.1.12
lightning~=2.5.1.post0
pillow~=12.1.0
torchvision~=0.22.0
pycocotools~=2.0.8
numpy~=2.4.0
wandb~=0.19.10
matplotlib~=3.10.1
torchmetrics~=1.7.1
PyYAML~=6.0.3
gdown~=5.2.0
requests~=2.32.5
tqdm~=4.67.1
scikit-learn~=1.8.0
huggingface-hub~=0.36.0
toml~=0.10.2
visdom~=0.2.4